@model Recipe_Blog.Models.Login

@{
    ViewData["Title"] = "ChefDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@* <h3 class="mx-5">Chef @Model.User.Firstname Details</h3>
 *@


<div class="col-5 ">
    <div class="card h-50">
        <img class=" m-4" src="/User/img/@Model.User.Imgpath" class="card-img-top" alt="" style="border-radius:50%">
        <div class="card-body">
            <h5 class="card-title">Name: @Model.User.Firstname @Model.User.Lastname</h5>
            <h5 class="card-title">UserName: @Model.UserName </h5>
            <h5 class="card-title">Email: @Model.Email </h5>
            <p class="card-text">Recipes: @Model.User.Recipes.Count()</p>
            <p class="card-text">Birthdate: @(Model.User.Birthdate)</p>
        </div>
    </div>
</div>
<div class="mx-1">
    <a class="btn btn-primary mx-1" asp-action="RegisteredChefs">Back to Chefs</a>
</div>

<hr />
<h4 class="mx-5">@Model.User.Firstname Recipes</h4>
<div class="row ">
    @foreach (var item in Model.User.Recipes)
    {

        <div class="card m-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/User/img/@item.Imgpath" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Recipe : @item.Name </h5>
                      @*   <p class="card-text">Description : @item.Description.</p> *@
                        <p class="card-text"><small class="text-body-secondary">Posted At : @item.Creationdate</small></p>
                        <p class="card-text">Price: $@item.Price</p>

                    </div>

                </div>
            </div>
        </div>

    }
</div>

