@model Tuple<IEnumerable<User>,IEnumerable<Category>,IEnumerable<Recipe>,IEnumerable<Testimonial>,IEnumerable<User>,IEnumerable<Homepage>>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section " style=" background-image:url('img/peaches (1).jpg') ; background-position:center ;">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 class="">Welcome To Shishani Recipes</h2>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Recipe Categories</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        @foreach(var i in Model.Item2)
                        {
                            <li data-filter=".@i.Name">@i.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">

            @foreach(var i in Model.Item2)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix @i.Name">
                        <div class="featured__item">
                        <div class="featured__item__pic rounded-5" style="background-image:url(@i.Imgpath)">
                            <ul class="featured__item__pic__hover">
                                <li><a asp-action="CategoryDetails" asp-route-id="@i.Id"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h5>@i.Name</h5>
                            <h6><a href="#">(@i.Recipes.Count()) Recipes</a></h6>
                            <a asp-action="CategoryDetails" asp-route-id="@i.Id">Go To @i.Name</a>
                        </div>
                    </div>
                </div>
                
            }
     
        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
@* <div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/User/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/User/img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Experienced Chefs</h4>
                    <div class="latest-product__slider owl-carousel">
                            
                            @foreach(var x in Model.Item5){
                                <div class="latest-prdouct__slider__item">
                            
                                    <a asp-action="ChefDetails" asp-route-id="@x.Id" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/User/img/latest-product/lp-1.jpg" alt="chef image">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@x.Firstname @x.Lastname</h6>
                                        <span>@x.Recipes.Count() Recipes</span>
                                    </div>
                                    </a>
                                </div>
                            }
                            
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>All Categories</h4>
                    <div class="latest-product__slider owl-carousel">
                        @foreach (var x in Model.Item2)
                        {
                            <div class="latest-prdouct__slider__item">

                                <a asp-action="CategoryDetails" asp-route-id="@x.Id" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/@x.Imgpath" alt="chef image">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@x.Name </h6>
                                        <span>@x.Recipes.Count()</span>
                                    </div>
                                </a>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>All Recipes</h4>
                    <div class="latest-product__slider owl-carousel">
                        @foreach (var x in Model.Item3)
                        {
                            <div class="latest-prdouct__slider__item">

                                <a asp-action="RecipeDetails" asp-route-id="@x.Id" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/shishani_recipe-removebg-preview.png" alt="chef image">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@x.Name </h6>
                                        <span>$@x.Price</span>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>Testimonials</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            @foreach (var i in Model.Item4)
            {
                <div class="col-lg-3 col-md-3 col-sm-5 border border-5 m-3">
                    <div class="blog__item">
                        <div class="blog__item__pic d-none"></div>
                        <div class="blog__item__text">
                            <div class="row"><img class="col-3 rounded-5" src="~/User/img/blog/blog-1.jpg" alt=""><p class="col-9">@i.User.Firstname</p></div>
                            <h5><a>@i.Content</a></h5>
                            <ul>
                                <li><i class="fa fa-calendar-o"></i>   @i.Creationdate</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Blog Section End -->
