@model IEnumerable<Request>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    User u= ViewBag.currentAdmin;
    var userCount = ViewBag.userCount;
    var chefCount = ViewBag.chefCount;
    var categoriesCount = ViewBag.categoriesCount;
    var testimonialAccCount = ViewBag.testimonialAcceptedCount;
    var testimonialPendCount = ViewBag.testimonialPendingCount;
    var testimonialRejCount = ViewBag.testimonialRejectedCount;
    var categoryCount = ViewBag.categoriesCount;
    var recipeAccCount = ViewBag.recipeAcceptedCount;
    var recipePendCount = ViewBag.recipePendingCount;
    var recipeRejCount = ViewBag.recipeRejectedCount;
    double up = (double)userCount / (userCount + chefCount) * 100;
    double cp = (double)chefCount / (userCount + chefCount) * 100;
    double rap = (double)recipeAccCount / (recipeAccCount + recipePendCount + recipeRejCount) * 100;
    double rpp = (double)recipePendCount / (recipeAccCount + recipePendCount + recipeRejCount) * 100;
    double rrp = (double)recipeRejCount / (recipeAccCount + recipePendCount + recipeRejCount) * 100;
    double tap = (double)testimonialAccCount / (testimonialAccCount + testimonialPendCount + testimonialRejCount) * 100;
    double tpp = (double)testimonialPendCount / (testimonialAccCount + testimonialPendCount + testimonialRejCount) * 100;
    double trp = (double)testimonialRejCount / (testimonialAccCount + testimonialPendCount + testimonialRejCount) * 100;
    var acceptedCount = ViewBag.recipeAcceptedCount??0;
    var pendingCount = ViewBag.recipePendingCount??0;
    var rejectedCount = ViewBag.recipeRejectedCount??0;
    var totalIncome= ViewBag.totalIncome??0;
    var totalSales= ViewBag.totalSales??0;
    // Request requests = ViewBag.requests;
   
}
<link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />


<div class="container-fluid">

    <!--Start Dashboard Content-->

    <div class="card mt-3">
        <div class="card-content">
            <div class="row row-group m-0">
                <div class="col-12 col-lg-6 col-xl-4 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@userCount<span class="float-right"><i class="zmdi zmdi-account-circle"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@up%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Registered Users<span class="float-right">@Convert.ToInt32(up)% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@chefCount<span class="float-right"><i class="zmdi zmdi-account-circle"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@cp%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Registered Chefs<span class="float-right">@Convert.ToInt32(cp)% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@categoriesCount<span class="float-right"><i class="zmdi zmdi-badge-check"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:100%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Total Categories<span class="float-right">100% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@testimonialPendCount <span class="float-right"><i class="zmdi zmdi-book"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@tpp%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Pending Testimonials<span class="float-right">@Convert.ToInt32(tpp)% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@testimonialAccCount <span class="float-right"><i class="zmdi zmdi-book"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@tap%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Accepted Testimonials<span class="float-right">@Convert.ToInt32(tap)% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@testimonialRejCount <span class="float-right"><i class="zmdi zmdi-book"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@trp%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Rejected Testimonials<span class="float-right">@Convert.ToInt32(trp)% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@recipePendCount <span class="float-right"><i class="zmdi zmdi-cake"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@rpp%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Pending recipes<span class="float-right">@Convert.ToInt32(rpp)% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@recipeAccCount <span class="float-right"><i class="zmdi zmdi-cake"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@rap%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Accepted recipes<span class="float-right">@Convert.ToInt32(rap)% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">@recipeRejCount <span class="float-right"><i class="zmdi zmdi-cake"></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:@rrp%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">Rejected recipes<span class="float-right">@Convert.ToInt32(rrp)% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    <div class="row">
       

        <div class="col-12 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-header">
                   Accounts
                </div>
                <div class="card-body">
                    <div class="chart-container-2">
                        <div class="w-100"><canvas id="userRoleChart" width="200" height="200"></canvas></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <tbody>
                            <tr>
                                <td> Users</td>
                                <td>@userCount</td>
                                <td>+@Convert.ToInt32(up)%</td>
                            </tr>
                            <tr>
                                <td>Chefs</td>
                                <td>@chefCount</td>
                                <td>+@Convert.ToInt32(cp)%</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <div class="col-12 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-header">
                    Recipes 
                </div>
                <div class="card-body">
                    <div class="chart-container-2">
                        <div class="w-100"><canvas id="RecipeChart" width="200" height="200"></canvas></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <tbody >
                            <tr>
                                <td > Accepted Recipes</td>
                                <td>@acceptedCount</td>
                                <td>+@Convert.ToInt32(rap)%</td>
                            </tr>
                            <tr>
                                <td>Rejected Recipes</td>
                                <td>@rejectedCount</td>
                                <td>+@Convert.ToInt32(rrp)%</td>
                            </tr>
                            <tr>
                                <td>Pending Recipes</td>
                                <td>@pendingCount</td>
                                <td>+@Convert.ToInt32(rpp)%</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-header">
                    Incomings
                </div>
                <div class="card-body">
                    <div class="chart-container-2">
                        <div class="w-100"><canvas id="IChart" width="200" height="200"></canvas></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <tbody>
                            <tr>
                                <td> Total Incomes</td>
                                <td>$@totalIncome</td>
                                <td>+16%</td>
                            </tr>
                            <tr>
                                <td>Total Sales</td>
                                <td>$@totalSales</td>
                                <td>+84%</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div><!--End Row-->

    <script>
        // Extract data from ViewBag
        var userCount = @ViewBag.userCount;
        var chefCount = @ViewBag.chefCount;

        // Define data for the chart
        var data = {
            labels: ['Users', 'Chefs'],
            datasets: [{
                label: 'User Roles',
                data: [userCount, chefCount],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(255, 99, 132, 0.5)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        };

        // Configure chart options
        var config = {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        };

        // Render the chart
        var ctx = document.getElementById('userRoleChart').getContext('2d');
        var myChart = new Chart(ctx, config);
    </script>
    <script>
        // Extract data from ViewBag
        var a = @acceptedCount;
        var r = @rejectedCount;
        var p = @pendingCount;

        // Define data for the chart
        var data = {
            labels: ['Accepted Recipes', 'Rejected Recipes', 'Pending Recipes'],
            datasets: [{
                label: 'Recipes',
                data: [a, r, p],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(173, 132, 153, 0.8)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(173, 132, 153, 1)'
                ],
                borderWidth: 1
            }]
        };

        // Configure chart options
        var config = {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        };

        // Render the chart
        var ctx = document.getElementById('RecipeChart').getContext('2d');
        var myChart = new Chart(ctx, config);
    </script>
    <script>
        // Extract data from ViewBag
        var i =  @ViewBag.totalIncome;
        var s =  @ViewBag.totalSales ;
                 
        // Define data for the chart
        var data = {
            labels: ['Incomes', 'Sales'],
            datasets: [{
                label: 'Incoming',
                data: [i, s],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(255, 99, 132, 0.5)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        };

        // Configure chart options
        var config = {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        };

        // Render the chart
        var ctx = document.getElementById('IChart').getContext('2d');
        var myChart = new Chart(ctx, config);
    </script>


</div>
<!-- End container-fluid-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" defer></script>