@model IEnumerable<Recipe_Blog.Models.Testimonial>

@{
    ViewData["Title"] = "PendingTestimonials";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pending Testimonials</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creationdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creationdate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.User.Firstname)
            </td>
            <td>
                    <a asp-action="EditTestimonial" asp-route-id="@item.Id" class="btn btn-primary">Accept</a> 
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger">Reject</a>
            </td>
        </tr>
}
    </tbody>
</table>
