@model IEnumerable<Recipe_Blog.Models.Testimonial>

@{
    ViewData["Title"] = "Testimonials";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mx-5">Testimonials</h2>




<div class="row mx-5">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header ">
                @* <div>
                    <form class="col-12" asp-action="Recipes" method="post">
                        <div class="row">
                            <div class="col">
                                <span>From Date:</span>
                                <input type="date" name="startDate" class="form-control input-shadow" class="rounded col" />
                            </div>
                            <div class="col">

                                <span>To Date:</span>
                                <input type="date" name="endDate" class="form-control input-shadow" class="rounded col" />
                            </div>
                            <div class="col">

                                <span>Search By Name :</span>
                                <input type="text" name="name" class="form-control input-shadow" class="rounded col" placeholder="Enter Name" />
                            </div>

                            <input type="submit" value="Search" class="btn btn-success rounded" />
                        </div>
                    </form> 
                </div> *@

            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush table-borderless">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Content</th>
                            <th>Posted At</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.User.Firstname @x.User.Lastname</td>
                                <td>@x.Content</td>
                                <td>@x.Creationdate</td>
                                @switch (x.TestimonialStatusId)
                                {
                                    case 1:
                                        <td>Pending</td>
                                        break;
                                    case 2:
                                        <td>Accepted</td>
                                        break;
                                    case 3:
                                        <td>Rejected</td>
                                        break;
                                }

                                <td>
                                    <div>
                                       
                                        <a class="btn btn-info col-6 " asp-action="AcceptTestimonial" asp-route-id="@x.Id">Accept</a>
                                        <a class="btn btn-danger col-6 " asp-action="RejectTestimonial" asp-route-id="@x.Id">Reject</a>

                                    </div>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!--End Row-->





@* 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Creationdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestimonialStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Creationdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestimonialStatus.Statusid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@