@model Login

@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@* 
<h3 class="mx-5">@Model.Firstname Details</h3>
 *@


<div class="col-5 ">
    <div class="card h-50">
        <img class=" m-4" src="~/User/img/man-default.png" class="card-img-top" alt="Chef Image">
        <div class="card-body">
            <h5 class="card-title">Name: @Model.User.Firstname @Model.User.Lastname</h5>
            <h5 class="card-title">UserName: @Model.UserName </h5>
            <h5 class="card-title">Email: @Model.Email </h5>
            <p class="card-text">Testimonials: @Model.User.Testimonials.Count()</p>
            <p class="card-text">Orders: @Model.User.Requests.Count()</p>
            @if (Model.User.Birthdate != null){
            <p class="card-text">Birthdate: @(Model.User.Birthdate)</p>
            }
        </div>
    </div>
</div>
<div class="mx-1">
    <a class="btn btn-primary mx-1" asp-action="RegisteredUsers">Back to Users</a>
</div>


