@model IEnumerable<Recipe_Blog.Models.Testimonial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creationdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestimonialStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.User.Firstname)
                    @Html.DisplayFor(modelItem => item.User.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creationdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestimonialStatus.Statusname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit Status</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        </tr>
}
    </tbody>
</table>
