@model IEnumerable<Recipe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}

<h1>All Recipes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Chef
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.Creationdate)
            </th>
         
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Creationdate)
            </td>
            
            
            <td>
                <a asp-action="Checkout" asp-controller="User" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
