@model IEnumerable<Recipe_Blog.Models.Request>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
    var total = ViewBag.totalIncome;
}

 
<div class=" rounded col col-lg-6 p-5 justify-content-between"><h2 class="col">My Sales</h2><h3 class="col">Total Incoming : $@total</h3></div>

<table class="table mx-5">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th>
                Sold At
            </th>
            <th>
                Incomes
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.User.Firstname
                @item.User.Lastname
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requestdate)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Recipe.Price)
            </td>
         
        </tr>
}
    </tbody>
</table>
