@model Recipe_Blog.Models.Recipe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}

<h2 class="mx-5">@Model.Name Details</h2>

<div class="mx-5">
    
    <hr />
    <div><img src="/User/img/@Model.Imgpath" width="200px" height="200px" alt="" class="rounded my-3"/></div>
    <dl class="row">
        <dt class="col-sm-2">
            Chef
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Firstname)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Creationdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Creationdate)
        </dd>
    </dl>
</div>
<div class="mx-5">
    <a class="btn btn-primary" asp-action="MyRecipes">Back to List</a>
</div>
