@model IEnumerable<Recipe_Blog.Models.Recipe>

@{
    ViewData["Title"] = "MyRecipes";
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}

<h1>MyRecipes</h1>

<p>
    <a asp-action="Create">Add Recipe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Chef
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Creationdate)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.User != null)
                    @Html.DisplayFor(modelItem => item.User.Firstname)
                </td>
                <td>@if(item.Category!=null)
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Creationdate)
                </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="MyDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
