@model IEnumerable<Recipe>

@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="section-title">
    <h2>Recipes</h2>
</div>
@if (Model != null)
{   <div class="row justify-content-between px-5">
    @foreach (var i in Model)
    {
            <div class="card m-5 col-3  shadow " style="width: 18rem;">
                @if (i.Imgpath!=null)
                {
                    <img src="/User/img/@i.Imgpath" class="card-img-top" alt="">
                }
                <div class="card-body">
                <h5 class="card-title">Recipe : @i.Name</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category : @i.Category.Name</li>
                <li class="list-group-item">Chef : @i.Name</li>
                <li class="list-group-item">Price : $@i.Price</li>
            </ul>
            <div class="card-body">
                <a asp-action="RecipeDetails" asp-route-id="@i.Id" class="card-link btn btn-secondary">Details</a>
                <a asp-action="checkout" asp-controller="User" asp-route-Id="@i.Id" class="card-link btn btn-primary">Buy Recipe</a>
            </div>
        </div>


    }
    </div>
}